<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ head }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&&family=Tangerine:wght@700display=swap" rel="stylesheet">

    <link rel="icon" href="/static/images/logo1-wh.png">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="container rounded rounded-2 w-100 h-100 d-flex align-items-center">
        <div class="row justify-content-center text-center">
            {% comment %} <div class="container border border-1 rounded p-1"> {% endcomment %}
            <div class="card shadow w-100 h-100 p-lg-3 p-3 mx-auto">
                <img src="/static/images/image.png" class="rounded mx-auto d-block">
                <div class="card-header bg-white" id="card-header">
                    <p class="display-6 mb-0">{{context.bride}}</p>
                    <p class="display-3 mb-0">&#38;</p>
                    <p class="display-6">{{context.broom}}</p>
                </div>
                <div class="card-body w-100" id="card-body">

                    <p>Sayın <span class="fw-bold" id="invite_name">{{context.guest}}</span> ve
                        ailesi,</p>

                    <p>{{context.ist.dugun.phrase}}</p>
                </div>
                <div class="card-footer bg-white" id="card-footer">
                    <p id="bigger">{{ context.ist.dugun.event_name}}</p>
                    <p class="mb-0" id="bigger">{{ context.ist.dugun.date}}</p>
                    <p class="mb-0"><a href="{{ context.ist.dugun.location.link}}" target="_blank" id="location">{{context.ist.dugun.location.name}}</a></p>
                    <p class="mb-0">{{context.ist.dugun.location.address}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>